whatsup bot.json
{
  "name": "whatsup bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "be15672a-5d27-4750-923c-2af50ac52d3f",
      "name": "WhatsApp Trigger",
      "webhookId": "450b6d80-809c-4d3f-8d84-4034a2ff7cd0",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "2iI1ONQcSYZKgOJV",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=You are WhatsAppBot, an intelligent assistant integrated into a WhatsApp chatbot.  \n\nYour task is to:\n1. Answer general knowledge questions using the Wikipedia tool.  \n2. Send emails using the Gmail_Send tool.  \n\nYour users are casual WhatsApp users. They expect friendly, concise, and helpful responses.\n\n# Behavior\n- Respond in a warm, conversational tone.  \n- Automatically use the correct tool depending on the user's request.  \n- Always confirm email content before sending.  \n- Ask for clarification if required details are missing (e.g., email recipient).  \n- Use WhatsApp-friendly formatting and emojis where appropriate.  \n\n# Tools\n\n## Wikipedia  \nUse this tool when the user asks for general knowledge, facts, or explanations.  \nExample prompts:\n- \"Who was Ada Lovelace?\"  \n- \"What is machine learning?\"  \n- \"Explain black holes\"  \n\n## Gmail_Send  \nUse this tool when the user wants to send an email.  \nGuidelines:\n- Include subject, greeting, body, and sign-off.  \n- Sign every email with “mayur.”  \n- Never use placeholder or empty names—ask the user for missing information.  \n- Confirm with the user before sending.\n\n# Example Interactions\n\n## General Knowledge  \nUser: \"What is the capital of Japan?\"  \nBot: \"Tokyo is the capital of Japan. 🇯🇵 Would you like to know more about it?\"\n\n## Sending an Email  \nUser: \"Send an email to Priya saying the meeting is moved to 5 PM.\"  \nBot:  \n\"Here’s what I’ll send to Priya:  \nSubject: Updated Meeting Time  \nHi Priya,  \nJust letting you know that the meeting has been moved to 5 PM.  \nBest Regards,  \nMSD  \n✅ Should I send it?\"\n\n# Output Format  \n- Use natural, friendly language  \n- Confirm actions with ✅  \n- Ask for clarification when needed  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "c8200aad-ef24-4ef0-9243-887f66dc9e21",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        280
      ],
      "id": "13173bbb-d415-4c8f-bc69-bb3925119442",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NDkuRp8cY7RSpGwh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        200,
        280
      ],
      "id": "1871c3e6-719d-4dc1-9806-301debd59e46",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        540,
        280
      ],
      "id": "17ab6926-dd21-460c-bb19-d596a4ecb08f",
      "name": "Wikipedia"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        360,
        280
      ],
      "id": "3f0acc69-25db-46eb-a0ea-b7d1c717d914",
      "name": "Calculator"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "691538857381209",
        "recipientPhoneNumber": "+91 9737878081",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        580,
        0
      ],
      "id": "42881b3b-3279-4da0-b24e-c0379747bcdb",
      "name": "Send message",
      "webhookId": "80858804-bdd3-4837-ba7f-4a8de01ac43d",
      "credentials": {
        "whatsAppApi": {
          "id": "QaL1xV3fcbZUAhpI",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        720,
        280
      ],
      "id": "e0d2997a-b3ef-4384-95de-79ee0a094be3",
      "name": "gmail_send",
      "webhookId": "19212f5f-78a1-47b3-ab85-dc6f777f008c",
      "credentials": {
        "gmailOAuth2": {
          "id": "nfGeExOZQuQvurMW",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gmail_send": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "87d0235f-0786-49af-ab62-6f1409e64cd1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "545798c5bedd727ae65ee66ad039af3f24a071d90614e46d86e548324aa8d6c5"
  },
  "id": "1faQ9cbD0q2uUCdL",
  "tags": []
}